<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289966824458-djklgcjqp45u1r0fjurloukufuh37jt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289966824458-djklgcjqp45u1r0fjurloukufuh37jt4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289966824458-005ea9532hvn69eugsejbaoqq24tte4d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhTPALOrV9y56JetIQTPABcMVF7rLySt4</string>
	<key>GCM_SENDER_ID</key>
	<string>289966824458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muugame.ongtrum</string>
	<key>PROJECT_ID</key>
	<string>muu-android-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>muu-android-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:289966824458:ios:bcd770fbe57e12f70053f3</string>
	<key>DATABASE_URL</key>
	<string>https://muu-android-demo.firebaseio.com</string>
</dict>
</plist>
